@import url("https://orchidevt.github.io/devt/themes/easterEggs.css");
a {
   text-decoration-line: none;
}
a:active {
   text-decoration-line: underline;
   filter: brightness(90%);
}
a h1 {
   color: var(--bs-body-color);
}
a[href=""] {
   color: var(--bs-danger);
}
body {
   font-family: "Roboto Flex", "Roboto", sans-serif;
   padding: 1.75rem 1.25rem;
}
.btn-close {
   float: right;
   opacity: inherit;
}
#floaties {
   position: fixed;
   right: 10px;
   bottom: 10px;
   display: flex;
   flex-direction: column;
   z-index: 2;
}
#floaties a {
   padding: 0;
   margin: .1rem 0;
   border-radius: 0;
   border: 1px solid var(--text);
   font-size: 19px;
   background-color: var(--bs-body-bg);
   opacity: 77%;
}
#floaties i {
   margin-left: .5rem;
}
h1 {
   font-size: 25px;
   font-family: "Neucha", "Noto Serif", serif;
   margin: 1.5rem 0 1rem;
   margin-right: auto;
   padding-bottom: .3rem;
   border-bottom: 1px solid var(--bs-border-color);
}
h1 i {
   opacity: 77%;
}
h6 {
   font-weight: bold;
}
.hatnote {
   font-size: 14px;
   background-color: var(--bs-tertiary-bg);
   padding: .25rem 1rem;
   margin-bottom: 1rem;
}
i {
   margin-right: .5rem;
}
img {
   padding: 1rem;
   width: 100%;
   height: auto;
}
.toast {
   margin-bottom: 1rem;
   width: 100%;
   box-shadow: none;
   opacity: 85%;
}
.toast-body ul {
   margin-bottom: 0;
}
@media (min-width: 768px) {
   .float-md-end {
      margin-left: 1.5rem !important;
   }
   .float-md-start {
      margin-right: 1.5rem !important;
   }
   h1, .hatnote, .toast {
      overflow: hidden;
   }
}
@media (prefers-color-scheme: dark) {
   a:active {
      filter: brightness(110%);
   }
   img {
      filter: brightness(80%) contrast(110%);
   }
}
