:root {
   --accent: #7ca728;
}
@media (prefers-color-scheme: dark) {
   :root {
      --accent: #cce698;
   }
}
a, ul.collapse a[data-bs-toggle] {
   color: var(--accent);
}
a[href=""] {
   color: #e44d2e !important;
}
::selection {
   background-color: #cce698;
   color: #000;
}
